@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Work+Sans:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #77d7d3;
  height: 57px;
  width: 100%;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35.98px;
}

.left .call {
  margin-left: 287px;
}

.call:hover {
  cursor: pointer;
}

.email:hover {
  cursor: pointer;
  color: rgb(64, 64, 249);
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20.5px 28.5px;
  background-color: #4bc9c4;
  gap: 12.75px;
  margin-right: 287px;
  height: 57px;
}

.right i:hover {
  color: rgb(64, 64, 249);
  cursor: pointer;
}

.bottom-nav {
  display: flex;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: white;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav h1 {
  position: absolute;
  left: 15.26%;
}

.content {
  opacity: 0.8;
  background: linear-gradient(
    102deg,
    rgba(19, 35, 45, 0.74) 1.05%,
    rgba(9, 14, 16, 0.5) 100.34%
  );
  text-align: left;
  position: relative;
  background-image: url(../img/volunteer/Photo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: local;
  width: 100%;
  height: 850px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.text_content {
  position: absolute;
  left: 10%;
  top: 30%;
}

.text_content h1 {
  color: #fff;
  font-family: Sue Ellen Francisco;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.3%;
}

.text_content p {
  color: #fff;
  font-family: "Shippori Mincho";
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: 108.3%;
  margin: 0;
}

.table_one {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: -10px auto;
}

.left_table {
  flex-flow: column nowrap;
  width: 40%;
}

.title_left {
  color: #ff6d6d;
  font-family: "Sue Ellen Francisco";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.3%;
  /* 37.905px */
}

.title2_left {
  margin-top: 5px;
  color: #2e4049;
  font-family: Shippori Mincho;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 48px */
}

.text_left {
  margin: 30px 0;
  color: #727272;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.btn_left {
  margin: 20px 0;
  color: #fff;
  font-family: " Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 22px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 34px;
  background: #2e4049;
  cursor: pointer;
}

.right_table {
  flex-flow: column nowrap;
  width: 40%;
  background-image: url(../img/volunteer/Photo2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.table_two {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 100px auto;
}

.table_two_left {
  background-image: url(../img/volunteer/Photo3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: local;
  width: 45%;
}

.table_two_right {
  width: 40%;
}

.title_right_table_two {
  color: #2e4049;
  font-family: "Shippori Mincho";
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 48px */
}

.text_right_table_two {
  margin: 20px 0;
  color: #727272;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.form {
  background-color: #f1eeec;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: 50px auto;
  padding: 20px;
}

.left_form {
  width: 40%;
}

.title_form {
  color: #ff6d6d;
  font-family: Sue Ellen Francisco;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 108.3%;
  /* 37.905px */
  margin: 10px 0;
}

.title2_form {
  margin: 5px 0;
  color: #2e4049;
  font-family: "Shippori Mincho";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 48px */
}

.text_left_form {
  color: #727272;
  font-family: " Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
  margin-top: 10px;
}

.partion1_left {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.partion1_le {
  width: 10%;
}

.partion1_ri {
  width: 85%;
}

.partion1_title {
  color: #2e4049;
  font-family: "Shippori Mincho";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 30px */
}

.partion1_text {
  color: #727272;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.partion2_left {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
  align-items: start;
}

.partion2_le {
  width: 10%;
}

.partion2_ri {
  width: 85%;
}

.partion2_title {
  color: #2e4049;
  font-family: "Shippori Mincho";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 30px */
}

.partion2_text {
  color: #727272;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.partion3_left {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
  align-items: start;
}

.partion3_le {
  width: 10%;
}

.partion3_ri {
  width: 85%;
}

.partion3_title {
  color: #2e4049;
  font-family: Shippori Mincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 30px */
}

.partion3_text {
  color: #727272;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.partion4_left {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
  align-items: start;
}

.partion4_le {
  width: 10%;
}

.partion4_ri {
  width: 85%;
}

.partion4_title {
  color: #2e4049;
  font-family: Shippori Mincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 30px */
}

.partion4_text {
  color: #727272;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.btn_form {
  border-radius: 34px;
  background: #2e4049;
  color: #fff;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 22px 40px;
  margin-left: 60px;
  cursor: pointer;
}

.btn_form:hover {
  background-color: rgb(42, 132, 154);
  color: #fff;
}

.right_form {
  background: #fff;
  padding: 40px 56px;
  padding-bottom: 30px;
  width: 40%;
  height: 80%;
}

.title_right {
  color: #2e4049;
  font-family: Shippori Mincho;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  margin: 5px 0;
  /* 30px */
}

.text_right {
  color: #ff6d6d;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 26px */
}

.inp1 {
  color: #909090;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  flex-shrink: 0;
  padding: 20px;
  margin: 15px 0;
  background: #f5f5f5;
  width: 100%;
  height: 75.516px;
  flex-shrink: 0;
}

.inp2 {
  color: #909090;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  flex-shrink: 0;
  padding: 20px;
  margin: 15px 0;
  background: #f5f5f5;
  width: 100%;
  height: 75.516px;
  flex-shrink: 0;
}

.inp3 {
  color: #909090;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  flex-shrink: 0;
  padding: 20px;
  margin: 15px 0;
  background: #f5f5f5;
  width: 100%;
  height: 75.516px;
  flex-shrink: 0;
}

.inp5 {
  color: #909090;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 23.4px */
  flex-shrink: 0;
  padding: 20px;
  margin: 15px 0;
  background: #f5f5f5;
  width: 100%;
  height: 75.516px;
  flex-shrink: 0;
}

.inp4 {
  font-family: "Work Sans";
  padding: 20px;
  width: 100%;
  height: 248.279px;
  flex-shrink: 0;
  background: #f5f5f5;
}

input,
textarea {
  margin-bottom: 10px;
  border-width: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn_right {
  padding: 22px 66px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 34px;
  background: #2e4049;
  color: #f5f5f5;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

svg text {
  text-align: center;
  padding-left: 3px;
  color: #fff;
  font-family: Shippori Mincho;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  /* 30px */
}
